/* circle {
  fill:transparent;
  stroke: rgb(122, 122, 243);
  stroke-width: 2;
  stroke-dasharray: 250;
  stroke-dashoffset: 1000;
  animation: rotate 5s linear infinite;
  z-index:-1;
}




@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
} */
#header-sec-2 {
  margin-right: 5em;
}
#pie {
  max-width: 20em;
  margin: 0 auto;
}

#top-row {
  margin-bottom: 2em;
  margin-top: 2em;
}

#middle-row {
  margin-bottom: 2em;
}

#left-of-row{
  margin-right: 3em;
}

#right-of-row{
  margin-left: 3em;
}

button#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

path {
  color: yellow;
}

#padding {
  padding: 12px;
}

#gov {
  padding-bottom: 2em;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .6s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#icon {
  opacity: .85;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#facts-header {
  padding-bottom: 2em;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


#topHeader {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 10em;
  letter-spacing: .2em;
}

#section2 {
  margin-top: 50px;
}

#opener {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 2px rgba(black,.15);
}
